<link rel="stylesheet" href="/css/style.css">
<h1 class="tipografia">Todos los Carritos</h1>

{{#if carts.length}}
<div class="carts-container0">
    {{#each carts}}
    <div class="cart-item0">
        <a href="/carts/{{id}}" class="cart-id-link0 remove0" target="_blank">
            <h2 class="cart-id0">Carrito creado N°:</h2>{{id}}
        </a>
        <p class="total-quantity0">Total Productos: {{totalQuantity}}</p>
        <div class="products-list0">
            
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p class="no-carts0">No carts found</p>
{{/if}}
<a href="/" class="pointer songoro" id="add2Cart">Volver al Inicio</a>